.button{
	float:right;
	height:25px;


	background: white;
	border:1px solid grey;
	margin:5px;
	border-radius:2px;
	cursor:default;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.button-text{

	font-family:"sourceCodePro Light";
	font-size:16.5px;

	display:block;
	margin-top:3px;
	margin-left:5px;
	margin-right:10px;
	float:left;
}
.button-icon{

	width: 15px; 
	height: 15px; 

	float:right;
	margin-right:2px;
	margin-top:2px;
	padding:2px;
	background: transparent;
	

	border-radius:2px;
	border:1px solid transparent;
}






.button:hover .button-icon {
	transition: all 0.25s ease-in;

	border:1px solid grey;

	background:rgba(225, 225,225, 0.5);


}


.button:hover:active{
	transition: all 0.1s ease;

	background-color:rgba(200, 200,200, 1);
}


.active-button .button-icon{
	border:1px solid grey;

	background:rgba(225, 225,225, 0.5);

}